<div class=" mb-14">
  <%= f.fields_for :alarm, alarm, index: index do |alarm_fields| %>
    <div class="my-4">
      <%= alarm_fields.label :wake_up_time, "時刻", class: "font-bold" %>
      <%= alarm_fields.datetime_field :wake_up_time, value: ("wakeupTimeValue" unless alarm.wake_up_time), class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
    </div>

    <div class="mb-4">
      <%= alarm_fields.label :custom_video_url, "Youtube動画のURL（任意）", class: "font-bold" %>
      <%= alarm_fields.text_field :custom_video_url, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
    </div>
  <% end %>
</div>
