<div class="p-5 rounded-lg shadow-md bg-slate-100 mb-12">
  
  <div class="mt-5 mb-2">
    <span class="font-bold">ユーザー名:</span> <%= alarm.user.name %>
  </div>
  
  <div class="mb-2">
    <span class="font-bold">起床日時:</span> <%= alarm.wake_up_time.strftime("%Y-%m-%d %H:%M") %>
  </div>

  <div class="mb-2">
    <span class="font-bold">コメント:</span> <%= alarm.comment %>
  </div>

  <br>
  <div class="mb-2">
    <span class="font-bold">今月の起床成功回数:</span> <%= "#{alarm.user.count_wake_up_this_month}回" %>
  </div>

  <div class="mb-2">
    <span class="font-bold">連続起床成功回数:</span> <%= "#{alarm.user.count_consecutive_wake_up}回" %>
  </div>

  <div class="mb-2">
    <span class="font-bold">総起床成功回数:</span> <%= "#{alarm.user.count_total_wake_up}回" %>
  </div>

  <div class="mt-3 flex items-center justify-end">
    <div class="flex items-center">
      <% like = user_signed_in? && current_user.likes.exists?(alarm_id: alarm.id) %>
      <% disabled = !user_signed_in? || current_user&.id == alarm.user_id %>

      <%= button_to (like ? like_path(alarm.id) : likes_path(alarm_id: alarm.id)),
                    method: (like ? :delete : :post),
                    disabled: disabled do %>
        <i class="<%= like ? 'fa-solid' : 'fa-regular' %> fa-heart"></i>
      <% end %>
      <span class="ml-2"><%= alarm.likes.count %></span>
    </div>
  </div>
</div>
