<%= form_with model: alarm do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="mb-4">
    <%= f.label :wake_up_time, class: "block text-gray-700" %>
    <%= f.datetime_field :wake_up_time, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm", value: (alarm.wake_up_time || (Time.now + 1.day).beginning_of_day).strftime('%Y-%m-%dT%H:%M') %>
  </div>

  <div class="mb-4">
    <%= f.label :custom_video_url, class: "block text-gray-700" %>
    <%= f.text_field :custom_video_url, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
  </div>

  <div class="mt-4">
    <%= f.submit class: "btn btn-warning" %>
  </div>

<% end %>