<%= form_with model: alarm, data: { turbo: false } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div id="alarms-fields">
    <%= render 'alarm_fields', f: f, alarm: Alarm.new( wake_up_time:Time.zone.tomorrow + 7.hours ), index: 0 %>
  </div>

  <div id="alarm-template" style="display: none;">
    <%= render 'alarm_fields', f: f, alarm: Alarm.new, index: "TEMPLATE_INDEX" %>
  </div>

  <div class="mt-4">
    <%= button_tag 'フォームを追加', type: 'button', id: 'add-alarm-button', class: "bg-yellow-300 hover:bg-yellow-400 font-bold py-2 px-4 md:py-4 md:px-6 rounded text-sm md:text-base mr-2" %>
    <%= f.submit class: "bg-yellow-300 hover:bg-yellow-400 font-bold py-2 px-4 md:py-4 md:px-6 rounded text-sm md:text-base" %>
  </div>
<% end %>