<div class="container mx-auto p-6">
  <h1 class="alert-info">マイページ</h1>

  <p class="text-lg">今日 ( <%= Date.today %> )</p>
  <%binding.pry%>
  <% unless @last_alarm.is_successful %>
    <p class="text-lg">前回は起床に失敗しましたが、問題はありません。また明日のアラームを設定すれば良いのです！</p>
    <br>
  <% end %>
  <% if @alarm %>
    <% if Time.now >= @alarm.wake_up_time && Time.now <= @alarm.wake_up_time + 10.minutes %>
      <p class="text-lg">おはようございます!起床時刻となりました。10分以内に動画の視聴を開始してください。</p>
      <%= link_to "動画を視聴する", alarm_video_path(@alarm), class: "btn btn-warning" %>
    <% else %>
      <% if @alarm.wake_up_time.to_date == Date.tomorrow %>
        <p class="text-lg">明日の起床時刻は<%= @alarm.wake_up_time.strftime("%H:%M") %>に設定されています。</p>
      <% elsif @alarm.wake_up_time.to_date == Date.today %>
        <p class="text-lg">今日の起床時刻は<%= @alarm.wake_up_time.strftime("%H:%M") %>に設定されています。</p>
      <% end %>
      <div class="flex mt-4 space-x-4">
        <%= link_to "編集する", edit_alarm_path(@alarm), class: "btn btn-warning" %>
        <%= link_to '削除する', alarm_path(@alarm), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-warning' %>
      </div>
    <% end %>
  <% else %>
    <% if Time.now.hour.between?(0, 3) %>
      <p class="text-lg">今日の起床時刻がまだ設定されていません</p>
    <% else %>
      <p class="text-lg">明日の起床時刻がまだ設定されていません</p>
    <% end %>
    <div class="flex mt-4 space-x-4">
      <%= link_to "時間を設定する", new_alarm_path, class: "btn btn-warning" %>
    </div>
  <% end %>
</div>

<%= month_calendar(events: @alarms) do |date, alarms| %>
    <%= date.day %>    
    <% alarms.each do |alarm| %>
      <div class="text-center">
        <%= "予定時刻 #{alarm.wake_up_time.strftime("%H:%M")}" %>
        <br>
        <% unless alarm.is_successful.nil? %>
          <%= t(alarm.is_successful, scope: 'activerecord.values.alarm.is_successful') %>
        <% end %>
      </div>
    <% end %>
<% end %>