<div class="container mx-auto p-6">
  <h1 class="mb-6">アカウント詳細</h1>

  <div class="flex mb-4 items-center justify-between">
    <div>
      <div class="flex mb-2 items-center">
        <h2 class="mr-2">名前:</h2>
        <p><%= current_user.name %></p>
      </div>
      <div class="flex mb-2 items-center">
        <h2 class="mr-2">メールアドレス:</h2>
        <p><%= current_user.email %></p>
      </div>
    </div>
    <div>
      <%= link_to "編集する", edit_user_registration_path, class: "btn btn-warning" %>
    </div>
  </div>

  <div class="flex mb-4 items-center justify-between">
    <div class="flex mb-2 items-center">
      <h2 class="mr-2">LINE連携:</h2>
      <p>未完了</p> 
    </div>
    <%= link_to '連携する', '#', class: "btn btn-warning" %>
  </div>

  <div class="flex mb-4 items-center justify-between">
    <div>
      <h2 class="mr-2">お笑い嗜好性:</h2>
      <div class="flex mb-2 items-center">
        <h3 class="mr-2">タグ:</h3>
        <p>セダン、ワゴン、クーペ、コンバーチブルなど</p>
      </div>
      <div class="flex mb-2 items-center">
        <h3 class="mr-2">自由記述:</h3>
        <p>セダン、ワゴン</p>
      </div>
    </div>
    <div>
    <%= link_to '編集する', '#', class: "btn btn-warning" %>
    </div>
  </div>

  <div class="flex mb-4 items-center justify-between">
    <div class="flex mb-2 items-center">
      <h2 class="mr-2">一覧画面とランキングに自身を表示しますか？:</h2>
      <p>はい</p>
    </div>
    <%= link_to (current_user.is_displayed ? '「いいえ」に変更' : '「はい」に変更'), '#', class: "btn btn-warning" %>
  </div>
</div>
