<div class="container mx-auto p-6">
  <h1 class="my-8 md:my-14 text-center">アカウント詳細</h1>

  <div class="bg-white rounded-lg shadow-lg px-6 pt-6 pb-10 mb-10">
    <div class="mb-10">
      <h2 class="mb-4">プロフィール</h2>
      <div class="flex flex-col md:flex-row justify-between">
        <div class="flex flex-col items-center md:items-start">
          <% if current_user.image? %>
            <%= image_tag(current_user.image_url, alt: 'LINEアイコン', class: "h-40 w-40 md:h-60 md:w-60 rounded-full mb-2 object-cover object-center") %>
          <% end %>
          <div class="flex justify-center">
            <p class="md:ml-14 font-semibold text-sm md:text-base">名前：</p>
            <p class="text-sm md:text-base"><%= current_user.name %></p>
          </div>
        </div>
        <div class="flex flex-col items-center">
        <%= link_to "編集", edit_user_registration_path, class: "bg-yellow-300 hover:bg-yellow-400 font-bold py-2 px-4 md:py-4 md:px-6 rounded text-sm md:text-base mt-4 md:m-30" %>
        </div>
      </div>
    </div>

      <div class="mb-10">
        <h2 class="mb-1">LINE公式アカウント</h2>
        <p class="text-xs md:text-sm">本アカウントから通知を送信します。<br/>QRコードからでもボタンからでも登録できます。</p>
        <br/>
        <p class="font-semibold">QRコード</p>
        <img src="https://qr-official.line.me/gs/M_482oswus_GW.png?oat_content=qr">
        <br class="hidden md:block"/>
        <p class="font-semibold">登録ボタン</p>
        <a href="https://lin.ee/rFKp6k9" class="inline-block mt-2">
          <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" class="h-10 md:h-12">
        </a>
      </div>

      <div class="flex flex-col md:flex-row justify-between mb-10">
        <div>
          <h2>お笑い嗜好性</h2>
          <div class="flex mt-4 mb-2 items-center">
            <p class="ml-2 mr-1 font-semibold text-sm md:text-base">タグ:</p>
            <% if current_user.comedy_tags.any? %>
              <p class="text-sm md:text-base"><%= current_user.comedy_tags.map(&:name).join('、') %></p>
            <% else %>
              <p class="text-sm md:text-base">登録なし</p>
            <% end %>
          </div>

          <div class="flex mb-2 items-center">
            <p class="ml-2 mr-1 font-semibold text-sm md:text-base">自由記述:</p>
            <% if current_user.keywords.any? %>
              <p class="text-sm md:text-base"><%= current_user.keywords.map(&:name).join('、') %></p>
            <% else %>
              <p class="text-sm md:text-base">登録なし</p>
            <% end %>
          </div>

          <div class="flex mb-2 items-center">
            <p class="ml-2 mr-1 font-semibold text-sm md:text-base">動画の時間:</p>
            <p class="text-sm md:text-base"><%= current_user.video_length_i18n %></p>
          </div>
        </div>
        <div class="mt-4 md:mt-0 md:pt-24">
          <%= link_to '編集', edit_preference_path(current_user), class: "bg-yellow-300 hover:bg-yellow-400 font-bold py-2 px-4 md:py-4 md:px-6 rounded text-sm md:text-base" %>
        </div>
      </div>

      <div class="flex flex-col md:flex-row justify-between">
        <div class="mt-4 mb-2 items-center">
          <p class="font-bold md:text-xl">「みんなの起床情報」に自身を表示しますか？</p>
          <p class="mx-2 mt-2 text-sm md:text-base"><%= t(current_user.is_displayed, scope: 'activerecord.values.user.is_displayed') %></p>
        </div>
        <div class="mt-2 md:mt-0 md:pt-12">
          <%= link_to (current_user.is_displayed ? '変更' : '変更'), toggle_display_path, class: "bg-yellow-300 hover:bg-yellow-400 font-bold py-2 px-4 md:py-4 md:px-6 rounded text-sm md:text-base" %>
        </div>
      </div>
    </div>
  </div>
</div>