<footer class="footer footer-center p-4 bg-yellow-300 text-xs">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "問い合わせ", "https://twitter.com/YA3lrpq2PnRc3ge", class: "link link-hover", target: "_blank" %>
    <%= link_to "利用規約", terms_of_use_path , class: "link link-hover" %>
    <%= link_to "プライバシーポリシー", privacy_policy_path , class: "link link-hover" %>
    <%= link_to "https://github.com/39takagikouta/graduation_exam", class: "link link-hover", target: "_blank" do %>
      <i class="fab fa-github fa-2x"></i>
    <% end %>
    <%= link_to "https://twitter.com/YA3lrpq2PnRc3ge", class: "link link-hover", target: "_blank" do %>
      <i class="fa-brands fa-x-twitter fa-2x"></i>
    <% end %>
  </nav> 
  <aside>
    <p>Copyright © 2023 - All right reserved by WaRise Ltd</p>
  </aside>
</footer>
