<!-- <header>
  <div class="navbar bg-orange-300">
    <div class="flex-1 px-10">
      <%= link_to root_path, class: "btn btn-ghost normal-case text-xl" do %>
        <i class="fa-regular fa-face-grin-squint-tears"></i> わらいず<i class="fa-regular fa-face-grin-squint-tears"></i>
      <% end %>
    </div>
    <details class="dropdown dropdown-end px-10">
      <summary class="m-1 btn btn-ghost"><i class="fa-solid fa-bars"></i></summary>
      <ul class="p-2 shadow menu dropdown-content z-[1] rounded-box w-52 bg-orange-300">
        <li><%= link_to "マイページ", mypage_path %></li>
        <li><%= link_to "みんなの起床成功情報", alarms_path %></li>
        <li><%= link_to "月間起床成功数ランキング", ranking_path %></li>
        <li><%= link_to "プロフィール詳細", user_path(current_user) %></li>
        <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    </details>
  </div>
</header> -->

<header>
  <div class="navbar bg-yellow-300 px-4 md:px-8 lg:px-12 py-2">
    <div class="flex-1">
      <%= link_to root_path, class: "flex items-center" do %>  
        <%= image_tag("logo.png", class: "h-9 sm:h-14") %>
      <% end %>      
    </div>
    <details class="dropdown dropdown-end px-4">
      <summary class="m-1 btn btn-ghost"><i class="fa-solid fa-bars"></i></summary>
      <ul class="p-2 shadow menu dropdown-content z-[1] rounded-box w-52 bg-yellow-300">
        <li>
          <%= link_to mypage_path, class: "text-xs sm:text-sm md:text-base font-semibold text-gray-700" do %>
            <i class="fa-regular fa-clock mr-1"></i>マイページ
          <% end %>
        </li>
        <li>
          <%= link_to alarms_path, class: "text-xs sm:text-sm md:text-base font-semibold text-gray-700" do %>
            <i class="fa-solid fa-people-group"></i>みんなの<br/>起床成功情報
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user), class: "text-xs sm:text-sm md:text-base font-semibold text-gray-700" do %>
            <i class="fa-regular fa-address-card"></i>プロフィール
          <% end %>
        </li>
        <li>
          <%= button_to destroy_user_session_path, method: :delete, class: "text-xs sm:text-sm md:text-base font-semibold text-gray-700" do %>
            <i class="fa-solid fa-right-from-bracket mr-2"></i>ログアウト
          <% end %>
        </li>
      </ul>
    </details>
  </div>
</header>

<!--        <li><%= link_to "マイページ", mypage_path %></li>
        <li><%= link_to "みんなの起床成功情報", alarms_path %></li>
        <li><%= link_to "プロフィール詳細", user_path(current_user) %></li>
        <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete %></li>
-->