<header>
  <div class="navbar bg-orange-300">
    <div class="flex-1 px-10">
      <%= link_to "わらいず", "#", class: "btn btn-ghost normal-case text-xl" %>
    </div>
    <div class="flex-none px-10">
      <ul class="menu menu-horizontal px-1">
      <%# 会員登録前 %>
        <li><%= link_to "早起き一覧", "#" %></li>
        <li><%= link_to "会員登録", "#" %></li>
        <li><%= link_to "ログイン", "#" %></li>
      <%# 会員登録後 %>
        <li><%= link_to "早起き一覧", "#" %></li>
        <li><%= link_to "ランキング", "#" %></li>
        <li><%= link_to "マイページ", "#" %></li>
        <li><%= link_to "ログアウト", "#" %></li>
      </ul>
    </div>
  </div>
</header>
