<div class="hero min-h-screen bg-blue-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <%= image_tag("morningboy.png") %>
    <div class="">
      <h1 class="text-5xl font-bold">わらいず</h1>
      <p class="py-6">わらいずは、予定通りの時間に起きられると報酬としてレコメンドされたお笑い動画を観ることができる、早起き促進アプリです。</p>
      <% unless user_signed_in? %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>

<div>
  <div>
    <h2 class="text-4xl text-center font-bold py-20">使い方</h2>
  </div>
  <div>
    <div>
      <h3 class="text-3xl font-bold">ステップ1</h3>
      <p>1.新規登録後に表示される、「お笑い嗜好性入力ページ」で、どのようなお笑い動画をレコメンドしてほしいか教えてください。</p>
    </div>
    <%= image_tag("programmer.png") %>
  </div>
  <div>
    <div>
      <h3 class="text-3xl font-bold">ステップ2</h3>
      <p>2.「マイページ」から明日の起床時間を登録しましょう！</p>
    </div>
    <%= image_tag("clock.png") %>
  </div>
  <div class="">
    <div>
      <h3 class="text-3xl font-bold">ステップ3</h3>
      <p>起床時間になったら、「マイページ」で起床ボタンを押すことで、レコメンドされたお笑い動画を視聴できます（設定時刻から10分間有効）。<br>
      2で動画を自分で選択した方は、その動画が表示されます。<br>
      お笑い動画で早起きを楽しいものにしましょう！</p>
    </div>
    <%= image_tag("comedian.png") %>
  </div>
</div>
