<div class="container mx-auto p-6">
  <h1 class="mb-6">お笑い嗜好性編集</h1>
  
  <%= form_with model: @preference_form, url: preference_url, method: :patch do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :comedy_tag_ids, "タグ" %>
    <%= f.collection_check_boxes :comedy_tag_ids, @comedy_tags, :id, :name do |comedy_tag| %>
      <div class="comedy-tag">
        <%= comedy_tag.check_box checked: @preference_form.comedy_tag_ids.reject(&:blank?).map(&:to_s).include?(comedy_tag.value.to_s) %>
        <%= comedy_tag.label %>
      </div>
    <% end %>

    <%= f.label :before_split_keyword_names, "キーワード（、で区切って入力してください）" %>
    <%= f.text_field :before_split_keyword_names %>
    <br>

    <%= f.label :video_length, "動画の長さ" %>
    <%= f.select :video_length, User.video_lengths_i18n.invert.map{|key, value| [key, User.video_lengths[value]]} %>
    <br>

    <%= f.submit '登録' %>
  <% end %>
</div>