<div class="container mx-auto p-6">
  <h1 class="mb-6">お笑い嗜好性入力</h1>
  
  <%= form_with model: @preference_form, url: preference_url, method: :patch do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :comedy_tag_ids, "タグ" %>
    <%= f.collection_check_boxes :comedy_tag_ids, @comedy_tags, :id, :name do |comedy_tag| %>
      <div class="comedy-tag">
        <%= comedy_tag.check_box checked: @preference_form.comedy_tag_ids.reject(&:blank?).map(&:to_s).include?(comedy_tag.value.to_s) %>
        <%= comedy_tag.label %>
      </div>
    <% end %>

    <%= f.label :before_split_keyword_names, "キーワード（、で区切って入力してください）" %>
    <%= f.text_field :before_split_keyword_names %>
    <br>
    
    <h3>動画の時間設定（何も記入しないと、自動で0が入力されます。また、最長時間が両方0か空欄の場合のみ自動で60分になります）</h3>
    <%= f.label :min_video_length_minutes, "最短動画時間（分）" %>
    <%= f.number_field :min_video_length_minutes, min: 0 %>

    <%= f.label :min_video_length_seconds, "最短動画時間（秒）" %>
    <%= f.number_field :min_video_length_seconds, min: 0, max: 59 %>
    <br>

    <%= f.label :max_video_length_minutes, "最長動画時間（分）" %>
    <%= f.number_field :max_video_length_minutes, min: 0 %>

    <%= f.label :max_video_length_seconds, "最長動画時間（秒）" %>
    <%= f.number_field :max_video_length_seconds, min: 0, max: 59 %>
    <br>

    <%= f.submit '登録' %>
  <% end %>
</div>