<!DOCTYPE html>
<html>
  <head>
    <title>わらいず</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="background-image flex flex-col justify-between">
    <div>
      <% if user_signed_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
    </div>

    <div class="flex-grow">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>

    <div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
