<!DOCTYPE html>
<html>
  <head>
    <title>WaRise.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QLK6SFT97Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QLK6SFT97Q');
    </script>
  </head>

  <body class= "background-image flex flex-col min-h-screen">
    <div>
      <% if user_signed_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
    </div>

    <div class="flex-grow">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>

    <div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
