<% content_for(:title, "ユーザー情報編集") %>
<div class="container mx-auto p-6">
  <h1 class="mb-6">ユーザー情報編集</h1>
  <div class="bg-white rounded-lg shadow-lg p-6 mb-10">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field mb-4">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
      </div>

      <div class="field mb-4">
        <%= f.label :image %><br />
        <%= f.file_field :image, onchange: "previewImage()", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
        <%= f.hidden_field :image_cache %>
        <%= image_tag current_user.image_url, class: "h-40 w-40 md:h-60 md:w-60 rounded-full mt-10 object-cover object-center", id: "preview" %>
      </div>

      <div class="actions mb-4">
        <%= f.submit "更新する", class: "bg-yellow-300 hover:bg-yellow-400 font-bold py-2 px-4 md:py-4 md:px-6 rounded text-sm md:text-base" %>
      </div>
    <% end %>

    <%= button_to "アカウント消去", registration_path(resource_name), class: "bg-yellow-300 hover:bg-yellow-400 font-bold py-2 px-4 md:py-4 md:px-6 rounded text-sm md:text-base", data: { confirm: "本当に削除してよいですか？", turbo_confirm: "本当に削除してよいですか？" }, method: :delete %></div>
  </div>
</div>

<script>
function previewImage() {
  const target = this.event.target;
  const file = target.files[0];
  const reader  = new FileReader();
  reader.onloadend = function () {
      const preview = document.querySelector("#preview")
      if(preview) {
          preview.src = reader.result;
      }
  }
  if (file) {
      reader.readAsDataURL(file);
  }
}
</script>
